<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/javascripts/chat.js"></script>
  </head>
  <body>
    <button id="leave">Leave</button>
    <h1><%= title %></h1>
    <h2><%= user.name %></h2>
    <div id="user_id" style="display:none"><%= user.id %></div>
    <div>status:<span id="status"/></div>
    <div id="messages">
      <input id="message" type="text" size="40"></input>
      <input id="room_id" type="hidden" value="<%= roomId %>"></input>
      <input id="update" type="submit" value="update"></input>
      <ul id="posts">
        <% for(var i in comments) { %>
          <li>
            <% if(comments[i].user_id == user.id){ %>
              <span style="display:inline-block;width:75px;text-align:right;"><strong>You</strong>:</span>
            <% }else{ %>
              <span style="display:inline-block;width:75px;text-align:right;"><%= comments[i].user_name %>:</span>
            <% } %>
            <span><%= comments[i].message %></span>
          </li>
        <% } %>
      </ul>
    </div>
  </body>
</html>
