<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <h2>create room</h2>
    <div>
      <form method="POST" action="/create">
        <input type="text" name="name" id="name" />
        <input type="submit" value="create"/>
      </form>
    </div>

    <h2>rooms</h2>
    <ul id="rooms">
    <% for(var i in rooms) { %>
      <li>
        <a href="/chat?id=<%= rooms[i]._id %>"><%= rooms[i].title %></a>
      </li>
    <% } %>
    </ul>
  </body>
</html>
