<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  </head>
  <body>
    <h1>Welcome to <%= title %></h1>
    <h2><img src="http://graph.facebook.com/<%= user.id %>/picture"/> <%= user.name %></h2>
    <h2>create room</h2>
    <div>
      <form method="POST" action="/create">
        <input type="text" name="name" id="name" />
        <input type="submit" value="create"/>
      </form>
    </div>

    <h2>rooms</h2>
    <ul id="rooms">
    <% for(var i in rooms) { %>
      <li>
        <span style="display:inline-block;width:90px;text-align:left;">
          <a href="/chat?id=<%= rooms[i]._id %>"><%= rooms[i].title %></a>
        </span>
        <span><%= rooms[i].updated.toLocaleString() %></span>
      </li>
    <% } %>
    </ul>
  </body>
</html>
